.menu{
    margin-top: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #E6E9ED;
    width: 100vw;
    height: 100%;
}

.banner {
    height: 45%;
    background-color: #FFC05A;
    border-radius: 0 0 0 122px;
    overflow-x: hidden;
}

.banner .text {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 45%; 
    text-align: left;
    text-wrap: wrap;
    color: #333333;
}

.text h1{
    font-size: 36px;
    font-family: 'Porter Sans Block', sans-serif;
    font-weight: 200;
}

.text h2{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
}

.banner .burger {
    position: absolute;
    top: 30px;
    left: 50vw;
    transform: rotate(-4.12deg);
}
.burger img{
    height: 506px;
    width: auto;
}