.bestCard {
    background-color: #FFF8EC;
    width: 235px;
    height: 235px;
    border-radius: 20px;
}

.bestCard img{
    border-radius: 20px 20px 0 0;
}

.card2 img{
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 15px;
}