.copyrights{
    width: 100%;
    background-color: #333333;
    height: 17px;
    font-size: 12px;
    color: white;
}

.back{
    height: 110px;
    border-radius: 122px 0 0 0;
    background-color: #FFC05A;
}

.footerimage{
    width: fit-content;
    position: relative;
    bottom: 129px;
    left: 60%;
}

.footerimage img{
    height: 148px;
    width: 148px;
    aspect-ratio: 1/1;
}

.footertext{
    position: relative;
    left: 70px;
    bottom: -30px;
    font-size: 20px;
    text-align: left;
    width: 150px;
    word-wrap: wrap;
    font-family: 'Ovo', serif;
}


.social-icons{
    position: relative;
    left: 50px;
    bottom: 10px;
}

.social-icons a{
    color: #333333;
}