.nav{
    width: 100vw;
    height: 80px;
    background-color: #FFC729;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    font-family: 'Pacifico', cursive;
    color: #333333;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo img{
    height: 32px;
    width: 32px;
}

.list {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.list p{
    cursor: cell;
}

.link {
    text-decoration: none;
    color: #333333;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}